---
import ScreeningDetails from "../components/ScreeningDetails.astro";
import Layout from "../layouts/Layout.astro";
import shows from "../data/schedules/2025-season-2.json";
import SectionHeader from "../components/SectionHeader.astro";
import Partners from "../components/Partners.astro";
import Footer from "../components/Footer.astro";
import NewsletterMarquee from "../components/NewsletterMarquee.astro";
import PlayingNextMarquee from "../components/PlayingNextMarquee.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";

const showFilterFn = (isUpcoming: boolean) =>
    shows.filter((show) => {
        const lastScreeningDatePlusOneDay = new Date(
            show.eventDate[show.eventDate.length - 1]
        );
        lastScreeningDatePlusOneDay.setDate(
            lastScreeningDatePlusOneDay.getDate() + 1
        );

        return isUpcoming
            ? lastScreeningDatePlusOneDay >= new Date()
            : lastScreeningDatePlusOneDay < new Date();
    });
---

<Layout
    title="Monoform Cinema | Kalamazoo, MI"
    description="Kalamazoo's new pop-up micro-cinema. Come to our monthly shows, every second Thursday at The Dormouse Theatre."
>
    <Header />
    <PlayingNextMarquee />
    <main>
        <HeroSection />
        <SectionHeader title="Upcoming Shows" />
        <div class="shows-text-container">
            <p class="show-details">
                With elements like pre-shows, collaborative recommendations,
                after-film discussion, and occasional short films, our goal is
                to create a communal space for film lovers to share in
                experiential filmgoing. Whether it's a classic you didn't catch
                in a theater or something you've never heard of, our hope is to
                build community around film and curate films that will move you.
            </p>
            <p class="show-details">
                For the 2025 season, we'll have regular screenings on the second
                Thursday of each month at the Dormouse Theatre located at 1030
                Portage Street. When possible we have additional screenings,
                such as the only <i>No Other Land</i> theatrical screenings in Kalamazoo,
                the <i>Punishment Park</i> weekend shows, and Kalamazoo's <i
                    >The People's Joker</i
                > theatrical premiere! Please follow to keep up with any event updates
                and scroll down or see our <a
                    href="https://linktr.ee/monoformcinema"
                    target="_blank"
                    rel="noopener noreferrer">Linktree</a
                > to get your tickets. See you at Dormouse!
            </p>
        </div>
        {showFilterFn(true).map((show) => <ScreeningDetails {...show} />)}
        <SectionHeader title="Past Shows" className="past-shows" />
        <div class="shows-text-container">
            <p>
                All shows listed here are for the current season. Please see
                <a href="/archive">our archive</a>
                for all past shows!
            </p>
        </div>
        {showFilterFn(false).map((show) => <ScreeningDetails {...show} />)}
        <Partners />
    </main>
    <NewsletterMarquee />
    <Footer />
</Layout>

<style>
    .show-details {
        text-align: left;
        margin-bottom: 25px;
    }
    .shows-text-container {
        margin-bottom: 70px;
    }
    .link-button {
        font-size: var(--fs-sm);
        text-decoration: none;
        border: 1px solid var(--accent);
        border-radius: 0.2em;
        padding: 0.15em 0.5em;
        background-color: var(--accent);
        color: var(--base-dark);
        font-size: var(--fs-sm);
    }
    a {
        color: var(--base-light);
    }

    @media screen and (max-width: 800px) {
        p {
            font-size: 16px;
        }
    }

    @media only screen and (max-width: 700px) {
        .profiles-container {
            margin-top: 0.5em;
        }
        .icon-container {
            margin-top: 0.65em;
        }
        .icon {
            width: 1.5em;
            height: 1.5em;
        }
    }

    @media only screen and (max-width: 500px) {
        .profiles-container {
            margin-top: 0.25em;
        }
        .icon-container {
            margin-top: 0.45em;
        }
    }
</style>
