---
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<div class="header-container">
    <h2 id={title.toLowerCase()}>{title}</h2>
    <div class="dots-container">
        <div class="dots-shadow"></div>
        <div class="dots"></div>
    </div>
</div>
<style>
    .header-container {
        display: flex;
        align-items: baseline;
        box-sizing: border-box;
        margin-bottom: 25px;
    }
    h2 {
        margin: 0;
        padding-right: 10px;
        white-space: nowrap;
        text-transform: uppercase;
        color: var(--accent);
        text-shadow: 2px 2px 0 #555555;
        user-select: none;
    }
    .dots-container {
        position: relative;
        flex: 1;
        height: 1px;
    }
    .dots-shadow {
        position: absolute;
        width: 100%;
        bottom: -2px;
        left: 2px;
        border-bottom: 8px dotted #555555;
    }
    .dots {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        border-bottom: 8px dotted var(--accent);
    }
</style>
