---
import "@fontsource/inter";
import "@fontsource/archivo-black";
interface Props {
    title: string;
    description: string;
}

const { title } = Astro.props;
const { description } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content={description} />
        <meta name="viewport" content="width=device-width" />

        <link
            rel="apple-touch-icon"
            sizes="180x180"
            href="/favicon/apple-touch-icon.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="32x32"
            href="/favicon/favicon-32x32.png"
        />
        <link
            rel="icon"
            type="image/png"
            sizes="16x16"
            href="/favicon/favicon-16x16.png"
        />
        <link rel="manifest" href="/site.webmanifest" />
        <link
            rel="mask-icon"
            href="/favicon/safari-pinned-tab.svg"
            color="#5bbad5"
        />
        <meta name="msapplication-TileColor" content="#da532c" />
        <meta name="theme-color" content="#ffffff" />

        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <slot />
    </body>
</html>
<style is:global>
    :root {
        --base-dark: #010101;
        --base-dark-accent: #222222;
        --accent: #f7e41e;
        /* --accent: 255, 255, 133; */
        /* --accent: 252, 251, 122; */
        /* --accent: 252, 255, 45; */
        /* --accent: 255, 245, 61; */
        --accent-light: #fffecf;
        --accent-gradient: linear-gradient(
            45deg,
            var(--accent),
            var(--accent-light) 50%,
            white 90%
        );
        --fs-sm: clamp(0.8rem, 1.03vi + 0.58rem, 1.5rem);
        --fs-base: clamp(1rem, 1.47vi + 0.68rem, 2rem);
        --fs-md: clamp(1.25rem, 2.08vi + 0.8rem, 2.67rem);
        --fs-lg: clamp(1.56rem, 2.92vi + 0.92rem, 3.55rem);
        --fs-xl: clamp(1.95rem, 4.09vi + 1.06rem, 4.74rem);
        --fs-xxl: clamp(2.44rem, 5.69vi + 1.2rem, 6.31rem);
        --fs-xxxl: clamp(3.05rem, 7.88vi + 1.33rem, 8.42rem);
    }
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        font-family: "Inter", system-ui, sans-serif;
        background: var(--base-dark);
        scroll-behavior: smooth;
    }
    body {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2 {
        font-family: "Archivo Black", sans-serif;
        font-size: 3rem;
        font-weight: normal;
    }
    button {
        border: none;
    }
    button:not(:disabled):hover {
        cursor: pointer;
    }
    button:disabled {
        opacity: 70%;
    }
    a.button-link:disabled {
        pointer-events: none;
    }
</style>
